body{
  font-family: "Roboto", sans-serif ;
color: #434455;
background-color: #fff;
}
p,h1,h2,h3,h4,h5,h6 {
   margin-top: 0;
   margin-bottom: 0;
}
a{
    text-decoration: none;
}
ul, ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
   .container{
    max-width:  768px; 
  }
}
@media only screen and (min-width: 1158px) {
   .container{
    max-width: 1158px;
    padding: 0 15px;
    
  }
}
img {
    display: block;
    width: 100%;
}
.header {
border-bottom: 1px solid #E7E9FC;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation{
display: flex;
align-items: center;
}

.logo {
    color: #4D5AE5;
font-family: Raleway,sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
padding: 16px 0;

}
.logo-part {
    color: #2E2F42;
}
.nav-list {
display: none;
gap: 40px;

}

.nav-link {
    color:  #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 24px 0;
display: block;
}
.current{
    color: #404bbf;
position: relative;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after{
content: "";
position: absolute;
left: 0;
bottom: -1px;
background-color: #404BBF;
border-radius: 2px;
height: 4px;
width: 100%;
}

.nav-link:hover,
.nav-link:focus{
    color: #404BBF;
}
.address-list{
    display: flex;
    gap: 40px;
}
.address {
    display: none;
    font-style: normal;
    margin-left: auto;
}

.address-link {
    color:  #434455;
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}
.open-mpbile-menu-btn{
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 0;
}
.mob-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 72px 16px 40px;

}

.close-mobile-menu-btn {
position: absolute;
   top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mob-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.mob-nav-link {
   
        font-weight: 700;
        font-size: 36px;
    

        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
}

.active{
    color: #404bbf;
}
.mob-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mob-contact-link {

        font-weight: 500;
        font-size: 20px;
    
      
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
}
.contact-active{
    color: #4d5ae5;
}
.mob-soc-list {
    display: flex;
    gap: 40px;
}

.mob-soc-item {
    width: 40px;
        height: 40px;
        gap: 40px;
        justify-content: center;
}

.mob-soc-link {
    width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mob-soc-icon {
    margin: auto;
        fill: #f4f4fd;
    
       
}
@media only screen and (min-width: 768px) {
    .mob-menu{
        display: none;
    }
    
   .nav-list{
    display: flex;
    
  }
  .address{
    display: block;
  }
  .open-mpbile-menu-btn{
    display: none;
  }
  .logo{
    margin-right: 120px;
  }
  .address-list{
    flex-direction: column;
    gap: 12px;
  }
  .address-link{
    font-size: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .logo {margin-right: 76px;
    
  }
  .address-list{
    flex-direction: row;
    gap: 40px;
  }
  .address-link{
    font-size: 16px;
  }
}
/*========<section hero>===========*/

.hero {
 background-color:#2E2F42;
 background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero-mob-1x.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
 text-align: center;
    padding: 72px 0;
    max-width: 1440px;
    margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-mob-2x.jpg);
    }
}
.hero-container{


}
.hero-title {
color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    text-transform: capitalize;
    line-height: 1.11;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    max-width: 216px;
    
}

.hero-btn {
color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    background-color: #4d5ae5;
    text-transform: capitalize;
    font-family: "Roboto",sans-serif;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
        



}

.hero-btn:hover {
    background-color: #404BBF
}

.hero-btn:focus {
    background-color: #404BBF
}
@media only screen and (min-width: 768px) {
   
.hero {
background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-tab-1x.jpg);
        padding: 112px 0;
  }
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-tab-2x.jpg);
    }
}
.hero-title{
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
}
}
@media only screen and (min-width: 1158px) {
.hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/Hero-desk-1x.jpg);
        padding: 188px 0;
    }

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
    screen and (min-resolution: 192dpi) and (min-width: 1158px),
    screen and (min-resolution: 2dppx) and (min-width: 1158px) {
        .hero {
            background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/Hero-desk-2x.jpg);
        }
    }

    .hero-title {
       
        margin-bottom: 48px;
     
    }
}

/*======================================================*/

/* ============--====<section advantages>==================*/


.visually-hidden-title {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    
}



.advantages-countent{
    border-radius: 4px;
        border: 1px solid var(--LIGHT-SLATE, #8e8f99);
        background: #f4f4fd;
        width: 264px;
        height: 112px;
        flex-shrink: 0;
        margin-bottom: 8px;
        display: none;
        justify-content: center;
        align-items: center;
}
.advantages {
  padding: 96px 0;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.advantages-item {

}

.advantages-subtitle {
    color: #2E2F42;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.4px;
margin-bottom: 8px;
text-align: center;
}

.advantages-item-text {
color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
@media only screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    
  }
  .advantages-item{
    width: calc((100% - 24px)/2);
  } 
  .advantages-subtitle{
    text-align: left;
  }
 
}
@media only screen and (min-width: 1158px) {
   .advantages{
    padding: 120px 0;
    
  }
  .advantages-countent{
    display: flex;
  }
   .advantages-item {
       width: calc((100% - 72px)/4);
   }
   .advantages-subtitle{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
   }
   .advantages-item-text{
    font-weight: 400;
   }
}
/*=============================================================*/

/* ======================section <our team>=================== */

.our-team {
    background-color: #F4F4FD;
   padding: 96px 0;

    
}
.icon-soc {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icon-group{
width: 40px;
    height: 40px;
    display: flex;
    gap: 24px;
}


.icon-link {
    width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.icon-link:focus {
    background-color: #404bbf;
}

.icon-link:hover {
    background-color: #404bbf;
}

.icon-svg{
    margin: auto;
        fill: #f4f4fd;
}
.team-item {
padding: 32px 0;
border-radius: 0px 0px 4px 4px;
}
.icon-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-title {
color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
    margin-bottom: 72px;
}
.servise-text{
padding-top: 32px;
padding-bottom: 32px;
}
.our-team-subtitle {
color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.our-team-list {
display: flex;
flex-direction: column;
gap: 72px;
align-items: center;

}

.our-team-item {
background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);


}

.our-team-item-text {
color: #434455;
text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 8px;
}
.icon-link:focus {
  background-color: #404bbf;
}

.icon-link:hover {
  background-color: #404bbf;
}
@media only screen and (min-width: 768px) {
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
    
  }
}

@media only screen and (min-width: 1158px) {
  .our-team {
    padding: 120px 0;
    
  }
}
/*===================<section our portfolio>=====================*/
.our-portfolio {
padding: 96px 0;
}

.our-portfolio-title {
color: #2e2f42;
    text-align: center;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
    font-size: 36px;
}

.portfolio-img-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
    
}
.portfolio-img-list-item {
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img-list-item:hover{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img-list-item:hover .overlay {
    transform: translateY(0);
}

.our-prot-anim {
 position: relative;
    overflow: hidden;
}
.overlay {
    color: #f4f4fd;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.servise-text{
    padding: 32px 16px;
        border: 1px solid, #e7e9fc;
        border-top: none;
}
.our-portfolio-subtitle {
color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.our-portfolio-item-text {
color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.Our-prot-cont{
    padding: 32px 16px;
        border: 1px solid  #e7e9fc;
        border-top: none;
}
.portfolio-img{

}
.servise-text{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
@media only screen and (min-width: 768px) {
   .portfolio-img-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    
  }
  .portfolio-img-list-item{
    width: calc((100% - 24px)/2);
  }
  
}
@media only screen and (min-width: 1158px) {
  .our-portfolio {
    padding: 120px 0;
    
  }
  .portfolio-img-list{
    gap: 48px 24px;

  }
  .portfolio-img-list-item {
    width: calc((100% - 48px)/3);
}
}
/*========================================================================*/

/*===================================footer=============================*/



.footer {
background-color: #2e2f42;
padding: 96px 0;
}
.footer-div{
    display: flex;
    flex-direction: column;
        align-items:center;
        gap: 72px;
}

.footer-soc{
    color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        text-align: center;
    }
.footlink:hover,
.footlink:focus {
    background-color: #31d0aa
}
.footer-logo {
color: #4D5AE5;
    color: #4d5ae5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        line-height: 1.17;
        display:block;
        margin-bottom: 16px;
        text-align: center;
}
.icon-soc-foot{
    display: flex;
        justify-content: center;
        gap: 16px;
}


.footer-logo-part {
    color: #F4F4FD;
}


.footer-item-text {
    color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        max-width: 264px;
}
.container-form {
  

}
.footer-form {
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.subscribe {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.form_button {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4D5AE5;
    color: #FFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border: none;
    cursor: pointer;
    height: 40px;
    min-width: 165px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_button:focus,
.form_button:hover {
    background-color: #404BBF;
}

.icon_form {
    margin-left: 16px;
}

.e-maill-form {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;

}

.e-maill-form::placeholder {
    align-items: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
}


@media only screen and (min-width: 768px) {
  .footer-div {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
    align-items: baseline;
    gap: 72px 24px;
  }
  .footer-logo{
    text-align: left;

  }
  .footer-form{
    flex-direction: row;
    
  }
  .footer-soc{
    text-align: left;
  }
  .subscribe{
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
    
  }
  .footer-div{
    padding-left: 15px;
    gap: unset;
  }
  .footer-left{
    margin-right: 120px;
  }

  .container-form{
    margin-left: auto;
  }
}
/*========================================================================*/
/*===================================backdrop==================================*/
.backdrop{
    position: fixed;
    top: 0;
width: 100%;
height: 100%;
opacity: 0;
    pointer-events: none;
    visibility: hidden;
background-color:  rgba(46, 47, 66, 0.4);;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open{
    opacity: 1;
    pointer-events: auto;
visibility: visible;
}
.modal{
    background-color: #FCFCFC;
        width: 288px;
        min-height: 584px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 72px 16px 24px;

    }



.modal-close{
position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus{
background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.icon_close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_model {
    color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.model_form {
    flex-direction: column;
    align-items: center;
    gap: 8px;


}
.container_label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

}

.list_form {
    display: block;
    flex-direction: column;
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;


}
.input_container {
    margin-top: 4px;
    position: relative;
}
.input_label {
    background-color: transparent;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 38px;
}
.icon_input {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.container_textarea {
    margin-bottom: 16px;
  
}


.input_label:focus {
    border-color: #4D5AE5;
}

.input_label:focus+.icon_input {
    fill: #4D5AE5;
}


.container_comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    background-color: transparent;
    padding: 8px 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container_comment:focus {
    border-color: #4D5AE5;
}

.container-chekbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.user-privacy {
    color: #8E8F99;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.48px;
    line-height: 1.17;
}

.privacy_policy_paragraf {
    color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
}

.privacy_button {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.checkbox_button:checked+.user-privacy .privacy_button {

    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;

}
.checkbox_button{
    display: none;
        visibility: hidden;
}
.model_button {
    display: block;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model_button:focus,
.model_button:hover {
    background-color: #404BBF;
}

@media only screen and (min-width: 768px) {
.modal{
    width: 408px;
    padding: 72px 24px 24px;
    
  }
}